window {
    background-color: #1e1e2e;
    color: #cdd6f4;
    border: 2px solid #f5c2e7;
    border-radius: 10px;
}

#input {
    background-color: #313244;
    color: #cdd6f4;
    border: none;
    padding: 10px;
}

#entry:selected {
    background-color: #f5c2e7;
    color: #1e1e2e;
}

#entry {
    padding: 5px;
}
